.node_modules/

# Ignorer les dépendances Composer
vendor/

# Ignorer les fichiers de cache
*.log
*.cache

# Ignorer les fichiers système
.DS_Store
Thumbs.db

# Ignorer les fichiers temporaires
*.tmp
*.bak